
body {
	font-family:"微软雅黑", Arial, Helvetica, sans-serif !important;
	background:url(back.png) repeat scroll top left;
	background-size: contain;
	min-width: 1300px;
}

/*---start-footer-----*/
.footer{
	background:#00131C;
	padding: 50px 0;
	overflow: hidden;
	margin-top: 150px;
}
.footer-grid{
	float:left;
	width:25%;
}
.footer-grid h3{
	font-size: 1.4em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	line-height: 1.5em;
}
.footer-grid ul li a{
	display:block;
	padding:10px 0px;
	border-bottom: 1px solid rgba(201, 201, 201, 0.05);
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.footer-grid ul li a:hover{
	color:#289cd8;
}

.footer-grid1{
	width: 28%;
}
.email-link{
	color:#2497d2;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:lowercase;
}
